/* Universal Styles */
* {
box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    top: 0;
    left: 0;
}

header .content {
  display: flex;
  align-items: center;
  padding: .857rem 1.875rem;
}

header .logo {
    flex: 1;
    font-family: "Roboto-mono", sans-serif;
    font-size: 1.5rem;
    color: #4a4a4a;
    text-decoration: none;
    padding-left: 0;
}

header nav ul {
    display: flex;
    list-style-type: none;
    
}

nav li {
    padding-left: 3.5rem;
    
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
    text-decoration: none;
}

header .icon {
    width: 2rem;
    padding-left: .75rem  ;
}

header .mobile {
    display: none;
}

/* Main Conent Section */

/* Mobile screen specifics, may have to reduce max screen width */

/*
@media only screen and (max-width: 500px) {
    header .desktop {
        display: none;
        width: 100%;
    }

    header .mobile {
        display: block;
        padding-right: 3.5rem;
    }

    header .content {
        padding: .5rem 0;
    }

    header .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    header .mobile li {
    padding: 0;
    }

    header .mobile .button {
        padding: .1875rem .5rem;
        background-color: #9dc20b;
        line-height: 1.6;
        color: white;
        border-radius: 4px;
    }
}
 */


/* Sign Up Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 43.5rem;
  background-image: url("../images/banner-landingpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  

}

#sign-up-cta {
  margin: 15.5rem 6.25rem;
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
  text-align: center;
  font-weight: 400;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}

#sign-up-cta .button {
  width: 25.5rem;
  height: 4rem;
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
  background-color: #4a4a4a;
  border-radius: 4px;
  line-height: 1.4;
  font-size: 1.25rem;
  color: white;
}


/*
@media only screen and (max-width: 760px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
} */

/*
@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
} */


/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: #f3f3f3;
  padding: 2rem;
  
}

.feature {
  flex: 1;
  padding: 2rem;
  margin: 0px 1.25rem;
  background-color: white;
}

.feature .image-container {
  width: 45%;
  height: 65%;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
  text-align: center;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
  text-align: center;

}


/* Filters Section */



/* Quotes Section */



/* Footer */
